@charset "UTF-8";

/* CSS Document */
html,body {
	margin: 0;
	padding: 0;
	background: #eb078f;
}

div#preloaded-images {
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}

@font-face {
	font-family: "Arial Rounded MT Bold";
	src: url(../fonts/ArialRoundedBold.ttf);
}

A:link {
	text-decoration: none
}

A:visited {
	text-decoration: none
}

A:active {
	text-decoration: none
}

A:hover {
	text-decoration: none
}

/* COMMON */
div#page-wrap {
	width: 1000px;
	margin: 20px auto;
	overflow: visible;
}

.headerPanel {
	position: absolute;
	left: 480px;
	top: 55px;
	font-family: "Trebuchet MS";
	font-size: 10pt;
}

.username {
	font-weight: bold;
}

.header {
	position: relative;
	min-height: 149px;
	background: URL("../images/header.png");
	background-repeat: no-repeat
}

.body {
	position: relative;
	min-height: 392px;
	background: URL("../images/body.png");
	background-repeat: no-repeat;
	overflow: visible;
	z-index: 2;
}

.bodytile {
	position: relative;
	background: URL("../images/bodytile.png");
	min-height: 1px;
	z-index: 1;
}

.bodytileAdmin {
	position: relative;
	background: URL("../images/bodytile.png");
	min-height: 300px;
	z-index: 1;
}

.footer {
	position: relative;
	background: URL("../images/footer.png");
	background-repeat: no-repeat;
	min-height: 159px;
	z-index: 1;
}

h1 {
	color: #bf007e;
	font-family: "Arial Rounded MT Bold";
	font-size: 17pt;
	font-weight: 600;
	text-align: left;
}

.h2 {
	color: #bf007e;
	font-family: "Arial Rounded MT Bold";
	font-size: 8pt;
	font-weight: 600;
	text-align: left;
}

.h3 {
	color: #000000;
	font-family: "Arial Rounded MT Bold";
	font-weight: bold;
	font-size: 12pt;
}

a1 {
	color: #bf007e;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16pt;
	font-weight: 600;
	text-align: left;
}

a1:hover {
	color: #f9a743
}

a2 {
	color: #bf007e;
	font-family: "Arial Rounded MT Bold";
	font-size: 18px;
	font-weight: 600;
	text-align: left;
}

a2:hover {
	color: #ffffff
}

.label {
	color: #bf007e;
	font-family: "Arial Rounded MT Bold";
	font-size: 11pt;
}

.hintLabel {
	color: #000000;
	font-family: "Arial Rounded MT Bold";
	font-size: 7pt;
}

input,select {
	border: 3px #c60089 solid;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 2px;
	height: 18px
}

/* HOME NOT LOGGED*/
.takeTour {
	position: absolute;
	left: 684px;
	top: 77px;
	width: 132px;
	height: 26px;
	background: URL("../images/taketouroff.png");
	color: #FFFFFF;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	font-size: 14px;
}

.takeTour:hover {
	background: URL("../images/taketouron.png");
}

.join {
	position: absolute;
	left: 624px;
	top: 122px;
	width: 269px;
	height: 33px;
	background: URL("../images/joinoff.png");
	color: #000000;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	font-size: 20px;
}

.join:hover {
	background: URL("../images/joinon.png");
}

.screen {
	position: absolute;
	left: 105px;
	top: 15px;
	width: 293px;
	height: 200px;
	background: URL("../images/screen.png");
}

.logos {
	position: absolute;
	left: 18px;
	top: 4px;
	width: 258px;
	height: 158px;
	background: URL("../images/logos.gif");
}

.hat {
	position: absolute;
	left: 78px;
	top: 236px;
	width: 75px;
	height: 76px;
	background: URL("../images/hat.png");
}

.clock {
	position: absolute;
	left: 397px;
	top: 236px;
	width: 75px;
	height: 76px;
	background: URL("../images/clock.png");
}

.ready {
	position: absolute;
	left: 706px;
	top: 236px;
	width: 75px;
	height: 76px;
	background: URL("../images/ready.png");
}

.signin {
	position: absolute;
	left: 860px;
	top: 77px;
	width: 100px;
	height: 26px;
}

/* HOME LOGGED*/ /* DOOR */
.okImagesPanel{
	position: absolute;
	left: 0px;
	top: 0px;
}
	
.headerDoor {
	position: relative;
	min-height: 149px;
	top: 1px;
	background: URL("../images/headerDOOR.png");
	background-repeat: no-repeat
}

.bodyDoor {
	position: relative;
	min-height: 392px;
	background: URL("../images/bodyDOOR.png");
	background-repeat: no-repeat
}

.bodytileDoor {
	position: relative;
	min-height: 1px;
	background: URL("../images/bodytileDOOR.png");
}

.footerDoor {
	position: relative;
	min-height: 159px;
	background: URL("../images/footerDOOR.png");
	background-repeat: no-repeat;
}

/* DRINK */
.orderSubmitterAlternateBodyPanel {
	position: relative;
	min-height: 392px;
	width: 500px;
}

.orderSubmitterAlternateBodytilePanel {
	position: relative;
	min-height: 1px;
	width: 500px;
}

.orderSubmitterAlternateFooterPanel {
	position: relative;
	min-height: 159px;
}

.orderSubmitterAlternateBody {
	position: relative;
	min-height: 392px;
	background: URL("../images/bodyDRINK.png");
}

.orderSubmitterAlternateBodytile {
	position: relative;
	min-height: 1px;
	background: URL("../images/bodytileDRINK.png");
}

.orderSubmitterAlternateFooter {
	position: relative;
	min-height: 159px;
	background: URL("../images/footerDRINK.png");
}

/* OTHERS */
.statusTitle {
	font-family: "Arial Rounded MT Bold";
	font-size: 14pt;
	font-weight: bold;
}

.statusDescription {
	font-family: "Trebuchet MS";
	font-size: 10pt;
}

.submitRequest {
	background: URL("../images/leftarrowOFF.png");
	border: 0px;
	width: 34px;
	height: 29px;
}

.submitRequest:hover {
	background: URL("../images/leftarrow.png");
}

.submitRequest {
	position: absolute;
	width: 269px;
	height: 33px;
	border: 0px;
	background: URL("../images/joinoff.png");
	color: #000000;
	font-family: "Arial Rounded MT Bold";
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}

.submitRequest:hover {
	background: URL("../images/joinon.png");
}

.leftArrow {
	background: URL("../images/leftarrowOFF.png");
	border: 0px;
	width: 34px;
	height: 29px;
}

.leftArrow:hover {
	background: URL("../images/leftarrow.png");
}

.rightArrow {
	background: URL("../images/rightarrowOFF.png");
	border: 0px;
	width: 34px;
	height: 29px;
}

.rightArrow:hover {
	background: URL("../images/rightarrow.png");
}

.infoButton {
	background: URL("../images/info.png");
	border: 0px;
	width: 34px;
	height: 34px;
}

.infoButton:hover {
	background: URL("../images/infoHover.png");
}

.infoButtonClicked {
	background: URL("../images/infoOn.png");
	border: 0px;
	width: 34px;
	height: 34px;
}

.infoButtonClicked:hover {
	background: URL("../images/infoHover.png");
}

.waitLabel {
	color: #bf007e;
	font-family: "Arial Rounded MT Bold";
	font-size: 30pt;
	font-weight: bold;
	left: 50px;
	top: 20px;
}

.admin {
	position: absolute;
	left: 860px;
	top: 110px;
	width: 100px;
	height: 26px;
}

div#orderSubmitter {
	position: absolute;
	left: 90px;
	top: 15px;
	width: 300px;
	height: 350px;
	overflow: visible;
}

.textBox {
	color: #000000;
	font-family: "Arial Rounded MT Bold";
	font-size: 11pt;
}

.errorLabel {
	color: #FF0000;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	height:12px;
	vertical-align: bottom;
}

.logoNameLabel {
	color: #000000;
	font-family: "Arial Rounded MT Bold";
	font-weight: bold;
	font-size: 10pt;
}

.logoTagsDateLabel {
	color: #000000;
	font-family: "Trebuchet MS";
	font-size: 9pt;
}

.orderText {
	float: right;
	position: relative;
	width: 240px;
	height: 64px;
	font: 11pt "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.orderIcon {
	position: relative;
	width: 64px;
	height: 64px;
}

.orders {
	position: absolute;
	left: 100px;
	top: 0px;
}

.pantoneLabel {
	color: #000000;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 7pt;
}

.colourBorder {
	border: 3px solid;
}

.colourNormal {
	border-color: #FFFFFF;
}

.colourSelected {
	border-color: #000000;
}

.colourNormal:hover {
	border-color: #eb078f;
}

.colourPANTONE534 {
	background-color: #08396d;
}

.colourPANTONE3308 {
	background-color: #003b2d;
}

.colourPANTONE512 {
	background-color: #800063;
}

.colourPANTONEProcessBlue {
	background-color: #0084ca;
}

.colourPANTONEOrange021 {
	background-color: #ff7500;
}

.colourPANTONE456 {
	background-color: #977600;
}

.colourPANTONE186 {
	background-color: #f50021;
}

.colourPANTONEPurple {
	background-color: #a32289;
}

.colourPANTONEWarmGray8 {
	background-color: #938477;
}

.colourPANTONE485 {
	background-color: #ff0c05;
}

.colourPANTONE357 {
	background-color: #005519;
}

.colourPANTONE371 {
	background-color: #375f0b;
}

.colourPANTONE457 {
	background-color: #bd9300;
}

.colourPANTONE7427 {
	background-color: #b90025;
}

.colourPANTONEBlack {
	background-color: #000000;
}

.colourPANTONE361 {
	background-color: #1bb231;
}

.colourPANTONE368 {
	background-color: #4ebc29;
}

.colourPANTONERubinRed {
	background-color: #f50063;
}

.colourPANTONE306 {
	background-color: #00b2e2;
}

.colourPANTONE676 {
	background-color: #bc005f;
}

.colourPANTONE159 {
	background-color: #ee5300;
}

.colourPANTONEWarmRed {
	background-color: #ff4415;
}

.colourPANTONEWhite {
	background-color: #ffffff;
}

.colourPANTONE7449 {
	background-color: #3d0e21;
}

/* Admin specific stuff */

.adminModule {
position: absolute;
left: 100px;
top: 0px;
}

.orderList {
  border: 1px solid #bf007e;
  padding: 2px;
  margin-bottom:6px;
}

/*paginator stuff - shit don't work!*/

  /***
   * Default Pagination Behavior
   * 
   * <h3>CSS Style Rules</h3>
   * <ul class="css">
   * <li>.oddRow { }</li>
   * <li>.evenRow { }</li>
   * <li>.oddCell { }</li>
   * <li>.evenCell { }</li>
   * <li>.headerRow { }</li> --> this works!
   * <li>.headerCell { }</li>
   * <li>.pagingRow { }</li> --> this doesn't work!
   * <li>.noPreviousPageCell { }</li>
   * <li>.previousPageCell { }</li>
   * <li>.pageCell { }</li>
   * <li>.currentPageCell { }</li>
   * <li>.noNextPageCell { }</li>
   * <li>.nextPageCell { }</li> --> this doesn't work!
   * </ul>
   * 
   * @author Joe Toth (joetoth@gmail.com)
   * 
   */
   
.headerRow { 
  background-color: #bf007e;
  color: white;
  font-style: bold;
}

/*datepicker stuff in admin page*/
.gwt-DatePicker {
  border: 1px solid #A2BBDD;
  cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none
}
.datePickerMonthSelector td:focus {
  outline: none
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 75%;
  text-align: center;
  padding: 4px;
  outline: none;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #C3D9FF;
  padding: 0px 4px 2px;
  cursor: default;
}
.datePickerDay {
  padding: 4px;
  cursor: hand;
  cursor: pointer;
}
.datePickerDayIsToday {
  border: 1px solid black;
  padding: 3px;
}
.datePickerDayIsWeekend {
  background: #EEEEEE;
}
.datePickerDayIsFiller {
  color: #888888;
}
.datePickerDayIsValue {
  background: #aaccee;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
  background: #bbddd9;
}
.datePickerMonthSelector {
  background: #C3D9FF;
  width: 100%;
}
.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: blue;
  cursor: hand;
  cursor: pointer;
  padding: 0px 4px;
}
td.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-size: 70%;
  font-weight: bold;
  color: blue;
}
.gwt-DateBox input {
  width: 8em;
}
.dateBoxFormatError {
  background: #ffcccc;
}

.dateBoxPopup {
	z-index: 3;
	}
