@charset "UTF-8";

/* CSS Document */
html,body {
	margin: 0;
	padding: 0;
	background: #eb078f;
}

div#preloaded-images {
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}

.fontAR {
	
}

A:link {
	text-decoration: none
}

A:visited {
	text-decoration: none
}

A:active {
	text-decoration: none
}

A:hover {
	text-decoration: none
}

/* COMMON */
div#page-wrap {
	width: 1000px;
	margin: 20px auto;
	overflow: visible;
}

.indexHeaderPanel {
	position: absolute;
	left: 50px;
	top: 55px;
	width: 873px;
	font-family: "Trebuchet MS", Gadget, sans-serif;
	font-size: 13px;
}

.headerPanel {
	position: absolute;
	left: 50px;
	top: 55px;
	width: 873px;
	font-family: "Trebuchet MS", Gadget, sans-serif;
	font-size: 13px;
}

.username {
	font-weight: bold;
}

.header {
	position: relative;
	min-height: 149px;
	background: URL("../images/header.png");
	background-repeat: no-repeat
}

.body {
	position: relative;
	min-height: 392px;
	background: URL("../images/body.png");
	background-repeat: no-repeat;
	overflow: visible;
	z-index: 1;
}

.bodytile {
	position: relative;
	background: URL("../images/bodytile.png");
	min-height: 1px;
	z-index: 0;
}

.bodytileAdmin {
	position: relative;
	background: URL("../images/bodytile.png");
	min-height: 700px;
	z-index: 0;
}

.bodytileCareers {
	position: relative;
	background: URL("../images/bodytile.png");
	min-height: 200px;
	z-index: 0;
}

.footer {
	position: relative;
	background: URL("../images/footer.png");
	background-repeat: no-repeat;
	min-height: 159px;
	z-index: 0;
}

h1 {
	color: #bf007e;
	font-size: 21px;
	font-weight: 600;
	text-align: left;
}

.h2 {
	color: #bf007e;
	font-size: 11px;
	font-weight: 600;
	text-align: left;
}

.h3 {
	color: #000000;
	font-weight: bold;
	font-size: 15px;
}

a1 {
	color: #bf007e;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
}

a1:hover {
	color: #f9a743;
}

.labelLink {
	color: #bf007e;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
}

.labelLink:hover {
	color: #ffffff;
}

.downloadLabelLink {
	color: #bf007e;
	font-family: "Trebuchet MS", Gadget, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: left;
}

.downloadLabelLink:hover {
	color: #ffffff;
}

.label {
	color: #bf007e;
	font-size: 14px;
}

.labelForgot {
	color: #bf007e;
	font-family: "Trebuchet MS", Gadget, sans-serif;
	font-size: 14px;
}

.labelForgotFeedback {
	color: white;
	font-family: "Trebuchet MS", Gadget, sans-serif;
	font-size: 14px;
}

.labelButton {
	cursor: pointer;
}

.hintLabel {
	color: #000000;
	font-family: "Trebuchet MS", Gadget, sans-serif;
	font-weight: bold;
	font-size: 10px;
}

select {
	border: 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 2px;
}

/* HOME NOT LOGGED*/
.login {
	position: absolute;
	left: 450px;
	top: 140px;
	width: 132px;
	height: 26px;
	border: 0px;
	background: URL("../images/taketouron.png");
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.login:hover {
	background: URL("../images/taketouroff.png");
}

.watchVideo {
	position: absolute;
	left: 490px;
	top: 190px;
	width: 269px;
	height: 33px;
	border: 0px;
	background: URL("../images/joinoff.png");
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.watchVideo:hover {
	background: URL("../images/joinon.png");
}

.loginTip {
	font-size: 11px;
	color: black;
	font-family: "Trebuchet MS", Gadget, sans-serif;
	font-style: bold;
	cursor: pointer;
}

.loginTip:hover {
	color: #bf007e;
}

.bigPurple {
	color: #bf007e;
	font-size: 39px;
	font-weight: bold;
}

.twitter {
	width: 107px;
	height: 54px;
	cursor: pointer;
}

.cloud {
	position: absolute;
	left: 670px;
	top: 0px;
	width: 185px;
	height: 163px;
	background: URL("../images/cloudOn.png");
	cursor: pointer;
}

.cloud:hover {
	background: URL("../images/cloud.png");
}

.hat {
	position: absolute;
	left: 0px;
	top: 280px;
	width: 75px;
	height: 76px;
	background: URL("../images/hat.png");
}

.screen {
	position: absolute;
	left: 63px;
	top: 10px;
	width: 275px;
	height: 246px;
	background: URL("../images/screen.png");
}

.video {
	position: absolute;
	left: 70px;
	top: 14px;
}

.screenLogos {
	position: absolute;
	left: 64px;
	top: 30px;
	width: 293px;
	height: 200px;
	background: URL("../images/screenLogos.png");
}

.logos {
	position: absolute;
	left: 61px;
	top: 20px;
	width: 298px;
	height: 182px;
	background: URL("../images/logos.gif");
}

.clock {
	position: absolute;
	left: 275px;
	top: 280px;
	width: 75px;
	height: 76px;
	background: URL("../images/clock.png");
}

.ready {
	position: absolute;
	left: 540px;
	top: 280px;
	width: 75px;
	height: 76px;
	background: URL("../images/ready.png");
}

.signin {
	position: absolute;
	left: 860px;
	top: 80px;
	width: 100px;
	height: 26px;
}

.stepTitle {
	font-size: 17px;
	color: black;
	font-weight: bold;
}

.stepText {
	color: black;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: black;
}

.indexCopyright {
	color: #bf007e;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

/* HOME LOGGED*/ /* DOOR */
.okImagesPanel {
	position: absolute;
	left: 400px;
	top: 65px;
}

.headerDoor {
	position: relative;
	min-height: 149px;
	top: 1px;
	background: URL("../images/headerDOOR.png");
	background-repeat: no-repeat
}

.bodyDoor {
	position: relative;
	min-height: 392px;
	background: URL("../images/bodyDOOR.png");
	background-repeat: no-repeat
}

.bodytileDoor {
	position: relative;
	min-height: 1px;
	background: URL("../images/bodytileDOOR.png");
}

.footerDoor {
	position: relative;
	min-height: 159px;
	background: URL("../images/footerDOOR.png");
	background-repeat: no-repeat;
}

/* FOOTER_PANEL */
.footerPanel {
	position: absolute;
	left: 50px;
	top: 0px;
}

.separator {
	color: white;
}

.footerLinks {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	color: white;
}

.footerLinks:hover {
	text-decoration: underline;
}

/* DRINK */
.orderSubmitterAlternateBodyPanel {
	position: relative;
	min-height: 392px;
	width: 500px;
}

.orderSubmitterAlternateBodytilePanel {
	position: relative;
	min-height: 1px;
	width: 500px;
}

.orderSubmitterAlternateFooterPanel {
	position: relative;
	min-height: 159px;
}

.orderSubmitterAlternateBody {
	position: relative;
	min-height: 392px;
	background: URL("../images/bodyDRINK.png");
}

.orderSubmitterAlternateBodytile {
	position: relative;
	min-height: 1px;
	background: URL("../images/bodytileDRINK.png");
}

.orderSubmitterAlternateFooter {
	position: relative;
	min-height: 159px;
	background: URL("../images/footerDRINK.png");
	background-repeat: no-repeat;
}

/* OTHERS */
.helpPopup {
	z-index: 4;
	background-color: #f2bc4a;
	border: solid 2px;
	border-color: #f69000;
	font-family: "Trebuchet MS";
	font-size: 12px;
	padding: 5px;
	color: #000000;
}

.statusTitle {
	font-size: 17px;
	font-weight: bold;
}

.statusDescription {
	font-family: "Trebuchet MS";
	font-size: 13px;
}

.submitRequest {
	position: absolute;
	width: 269px;
	height: 33px;
	border: 0px;
	background: URL("../images/joinoff.png");
	color: #000000;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

.submitRequest:hover {
	background: URL("../images/joinon.png");
}

.leftArrow {
	background: URL("../images/leftarrowOFF.png");
	border: 0px;
	width: 34px;
	height: 29px;
}

.leftArrow:hover {
	background: URL("../images/leftarrow.png");
}

.rightArrow {
	background: URL("../images/rightarrowOFF.png");
	border: 0px;
	width: 34px;
	height: 29px;
}

.rightArrow:hover {
	background: URL("../images/rightarrow.png");
}

.infoButton {
	background: URL("../images/info.png");
	border: 0px;
	width: 16px;
	height: 16px;
}

.infoButton:hover {
	background: URL("../images/infoHover.png");
}

.infoButtonClicked {
	background: URL("../images/infoOn.png");
	border: 0px;
	width: 16px;
	height: 16px;
}

.infoButtonClicked:hover {
	background: URL("../images/infoHover.png");
}

.waitLabel {
	color: #bf007e;
	font-size: 38px;
	font-weight: bold;
	left: 50px;
	top: 20px;
}

.buyNowLabel:hover {
	color: #bf007e;
}

.buyNowButton {
	width: 213px;
	height: 41px;
	background: URL("../images/makeitOFF.png");
}

.buyNowButton:hover {
	background: URL("../images/makeitON.png");
}

.license {
	background-color: white;
	font-family: "Times New Roman";
	font-size: 13px;
	color: black;
	cursor: default;
	text-align: left;
	margin: 5px;
	cursor: default;
	color: black;
}

.licensePanel {
	background-color: white;
	border: solid 2px;
	border-color: #f69000;
}

.orderSubmitter {
	width: 300px;
	height: 300px;
	overflow: visible;
}

.textBox {
	border: 3px #c60089 solid;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 2px;
	height: 18px;
	color: #000000;
	font-size: 13px;
	color: #000000;
}

.errorLabel {
	color: #FF0000;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 10px;
	height: 12px;
	vertical-align: bottom;
}

.logoNameLabel {
	color: #000000;
	font-weight: bold;
	font-size: 13px;
}

.logoTagsDateLabel {
	color: #000000;
	font-family: "Trebuchet MS";
	font-size: 12px;
}

.orderText {
	float: right;
	position: relative;
	width: 240px;
	height: 64px;
	font: 13px "Trebuchet MS", Verdana, Arial,
}

.orderIcon {
	position: relative;
	width: 64px;
	height: 64px;
}

.gwt-SuggestBox {
	z-index: 3;
}

.gwt-SuggestBoxPopup {
	z-index: 3;
	background-color: #fbe3ee;
}

.gwt-SuggestBoxPopup .item {
	z-index: 3;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #bf007e;
	font-size: 12px;
}

.gwt-SuggestBoxPopup .item-selected {
	z-index: 3;
	background-color: #eec3dd;
}

.orders {
	position: absolute;
	left: 400px;
	top: 0px;
}

.indexBodyPart {
	position: absolute;
	left: 60px;
	top: 0px;
}

.fakeBodyPart {
	position: absolute;
	left: 60px;
	top: 150px;
	width: 900px;
	text-align: center;
	color: #bf007e;
	font-size: 50px;
	font-weight: bold;
}

.pageBodyPart {
	position: absolute;
	left: 77px;
	top: 30px;
}

.pageTitle {
	color: #bf007e;
	font-size: 29px;
	font-weight: bold;
}

.sectionTitle {
	color: #bf007e;
	font-size: 21px;
	font-weight: bold;
}

.sectionText {
	color: black;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: justify;
}

.sectionTinyText {
	color: black;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.mailLink {
	color: black;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.mailLink:hover {
	color: #bf007e;
}

.sectionHeader {
	color: black;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.menuItem {
	color: black;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.menuItem:hover {
	color: #bf007e;
}

.pantoneLabel {
	color: #000000;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 10px;
}

.colourBorder {
	border: 3px solid;
}

.colourNormal {
	border-color: #FFFFFF;
}

.colourSelected {
	border-color: #000000;
}

.colourNormal:hover {
	border-color: #eb078f;
}

.colourPANTONE534 {
	background-color: #08396d;
}

.colourPANTONE3308 {
	background-color: #003b2d;
}

.colourPANTONE512 {
	background-color: #800063;
}

.colourPANTONEProcessBlue {
	background-color: #0084ca;
}

.colourPANTONEOrange021 {
	background-color: #ff7500;
}

.colourPANTONE456 {
	background-color: #977600;
}

.colourPANTONE186 {
	background-color: #f50021;
}

.colourPANTONEPurple {
	background-color: #a32289;
}

.colourPANTONEWarmGray8 {
	background-color: #938477;
}

.colourPANTONE485 {
	background-color: #ff0c05;
}

.colourPANTONE357 {
	background-color: #005519;
}

.colourPANTONE371 {
	background-color: #375f0b;
}

.colourPANTONE457 {
	background-color: #bd9300;
}

.colourPANTONE7427 {
	background-color: #b90025;
}

.colourPANTONEBlack {
	background-color: #000000;
}

.colourPANTONE361 {
	background-color: #1bb231;
}

.colourPANTONE368 {
	background-color: #4ebc29;
}

.colourPANTONERubinRed {
	background-color: #f50063;
}

.colourPANTONE306 {
	background-color: #00b2e2;
}

.colourPANTONE676 {
	background-color: #bc005f;
}

.colourPANTONE159 {
	background-color: #ee5300;
}

.colourPANTONEWarmRed {
	background-color: #ff4415;
}

.colourPANTONEWhite {
	background-color: #ffffff;
}

.colourPANTONE7449 {
	background-color: #3d0e21;
}

/* Admin specific stuff */
.adminModule {
	position: absolute;
	left: 100px;
	top: 20px;
}

.adminPopup {
	z-index: 4;
	background-color: #f2bc4a;
	border: solid 2px;
	border-color: #f69000;
	font-family: "Trebuchet MS";
	font-size: 12px;
	padding: 5px;
	color: #000000;
}

.adminTags {
	font-size: 14px;
	color: #000000;
}

.adminLogoName {
	font-size: 14px;
	color: #bf007e;
}

.orderList {
	padding: 2px;
	margin-bottom: 6px;
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 13px;
}

.timerGreen {
	color: green;
}

.timerOrange {
	color: orange;
}

.timerRed {
	color: red;
}

/*paginator stuff - shit don't work!*/ /***
   * Default Pagination Behavior
   * 
   * <h3>CSS Style Rules</h3>
   * <ul class="css">
   * <li>.oddRow { }</li>
   * <li>.evenRow { }</li>
   * <li>.oddCell { }</li>
   * <li>.evenCell { }</li>
   * <li>.headerRow { }</li> --> this works!
   * <li>.headerCell { }</li>
   * <li>.pagingRow { }</li> --> this doesn't work!
   * <li>.noPreviousPageCell { }</li>
   * <li>.previousPageCell { }</li>
   * <li>.pageCell { }</li>
   * <li>.currentPageCell { }</li>
   * <li>.noNextPageCell { }</li>
   * <li>.nextPageCell { }</li> --> this doesn't work!
   * </ul>
   * 
   * @author Joe Toth (joetoth@gmail.com)
   * 
   */
.gwt-Hyperlink a {
	color: black;
	font-family: "Trebuchet MS", Gadget, sans-serif;
	font-size: 15px;
	font-style: bold;
}

.gwt-Hyperlink a:visited {
	color: black;
}

.gwt-Hyperlink a:hover {
	color: #bf007e;
}

.gwt-Button {
	border: solid 1px;
	border-color: #bf007e;
	background-color: #f3d3e6;
	cursor: pointer;
	color: #bf007e;
	width: 80px;
	color: #bf007e;
}

.gwt-Button:HOVER {
	border-color: white;
	background-color: #f2bc4a;
}

gwt-FileUpload {
	border: none;
}

.headerRow {
	font-size: 17px;
	color: #bf007e;
	font-style: bold;
}

.oddRow {
	background-color: #f3d3e6;
	font-size: 13px;
}

.evenRow {
	background-color: #eec3dd;
	font-size: 13px;
}

/*datepicker stuff in admin page*/
.gwt-DatePicker {
	border: 1px solid #bf007e;
	cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector td:focus {
	outline: none
}

.datePickerMonthSelector td:focus {
	outline: none;
	background-color: #f3d3e6;
}

.datePickerDays {
	width: 100%;
	background: white;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
	font-size: 75%;
	text-align: center;
	padding: 4px;
	outline: none;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
	background: #f3d3e6;
	padding: 0px 4px 2px;
	cursor: default;
}

.datePickerDay {
	padding: 4px;
	cursor: hand;
	cursor: pointer;
}

.datePickerDayIsToday {
	border: 1px solid black;
	padding: 3px;
}

.datePickerDayIsWeekend {
	background: #EEEEEE;
}

.datePickerDayIsFiller {
	color: #888888;
}

.datePickerDayIsValue {
	background: #aaccee;
}

.datePickerDayIsDisabled {
	color: #AAAAAA;
	font-style: italic;
}

.datePickerDayIsHighlighted {
	background-color: #f3d3e6;
}

.datePickerDayIsValueAndHighlighted {
	background: #bbddd9;
}

.datePickerMonthSelector {
	background: #C3D9FF;
	width: 100%;
}

.datePickerPreviousButton,.datePickerNextButton {
	font-size: 120%;
	line-height: 1em;
	cursor: hand;
	cursor: pointer;
	padding: 0px 4px;
}

td.datePickerMonth {
	color: white;
	cursor: default;
	text-align: center;
	vertical-align: center;
	white-space: nowrap;
	font-size: 70%;
	font-weight: bold;
	color: blue;
}

.gwt-DateBox input {
	width: 8em;
}

.dateBoxFormatError {
	background: #ffcccc;
}

.dateBoxPopup {
	z-index: 5;
}

.genericPopup {
	z-index: 4;
	background-color: #f2bc4a;
	border: solid 2px;
	border-color: #f69000;
	font-family: "Trebuchet MS";
	font-size: 12px;
	padding: 5px;
	color: #000000;
}