<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>com.brainz.wokhei.server.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/wokhei/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>orderservice</servlet-name>
		<servlet-class>com.brainz.wokhei.server.OrderServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>orderservice</servlet-name>
		<url-pattern>/wokhei/orderservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>utilityservice</servlet-name>
		<servlet-class>com.brainz.wokhei.server.UtilityServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>utilityservice</servlet-name>
		<url-pattern>/wokhei/utilityservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminservice</servlet-name>
		<servlet-class>com.brainz.wokhei.server.AdminServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminservice</servlet-name>
		<url-pattern>/wokhei/adminservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>uploadfileservlet</servlet-name>
		<servlet-class>com.brainz.wokhei.servlet.UploadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadfileservlet</servlet-name>
		<url-pattern>/wokhei/uploadfile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getfileservlet</servlet-name>
		<servlet-class>com.brainz.wokhei.servlet.GetFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getfileservlet</servlet-name>
		<url-pattern>/wokhei/getfile</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>paymentDoneServlet</servlet-name>
		<servlet-class>com.brainz.wokhei.servlet.PaymentDoneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>paymentDoneServlet</servlet-name>
		<url-pattern>/wokhei/paymentDone</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>changeStatusServlet</servlet-name>
		<servlet-class>com.brainz.wokhei.servlet.ChangeStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changeStatusServlet</servlet-name>
		<url-pattern>/wokhei/changeStatus</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>serveSitemapServlet</servlet-name>
		<servlet-class>com.brainz.wokhei.servlet.ServeSiteMapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serveSitemapServlet</servlet-name>
		<url-pattern>/wokhei/serveSitemap</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>setForseti</servlet-name>
		<servlet-class>com.brainz.wokhei.servlet.SetForsetiFirstDescriptionById</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>setForseti</servlet-name>
		<url-pattern>/wokhei/setForseti</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
