<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>submitorder</servlet-name>
		<servlet-class>com.brainz.wokhei.servlets.SubmitOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>submitorder</servlet-name>
		<url-pattern>/submitorder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addadmin</servlet-name>
		<servlet-class>com.brainz.wokhei.servlets.AddAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addadmin</servlet-name>
		<url-pattern>/addadmin</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>rejectOrder</servlet-name>
		<servlet-class>com.brainz.wokhei.servlets.RejectOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rejectOrder</servlet-name>
		<url-pattern>/rejectOrder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>submitorderservice</servlet-name>
		<servlet-class>com.brainz.wokhei.server.SubmitOrderServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>submitorderservice</servlet-name>
		<url-pattern>/wokhei/submitorderservice</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>ordersbrowserservice</servlet-name>
		<servlet-class>com.brainz.wokhei.server.OrdersBrowserServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ordersbrowserservice</servlet-name>
		<url-pattern>/wokhei/ordersbrowserservice</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
