<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>orderservice</servlet-name>
		<servlet-class>com.brainz.wokhei.server.OrderServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>orderservice</servlet-name>
		<url-pattern>/wokhei/orderservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>utilityservice</servlet-name>
		<servlet-class>com.brainz.wokhei.server.UtilityServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>utilityservice</servlet-name>
		<url-pattern>/wokhei/utilityservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminservice</servlet-name>
		<servlet-class>com.brainz.wokhei.server.AdminServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminservice</servlet-name>
		<url-pattern>/wokhei/adminservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>uploadfileservlet</servlet-name>
		<servlet-class>com.brainz.wokhei.servlet.FileUploaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadfileservlet</servlet-name>
		<url-pattern>/wokhei/uploadfile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getlogoservlet</servlet-name>
		<servlet-class>com.brainz.wokhei.servlet.GetImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getlogoservlet</servlet-name>
		<url-pattern>/wokhei/getlogo</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
